:root {
	--text-md: 12px;
	--text-sm: 10px;
	--color-normal-bg: #f7f8fa;
	--color-normal-border: #d7d8db;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol';
	color: #25292f;
}

/* Popup container */
#main-content {
	width: 287px;
	padding: 8px;
	font-size: var(--text-md);
}
#main-content > *:not(:last-child) {
	margin-bottom: 4px;
}

/* Popup menu rows */
.menu-row {
	display: block;
	padding: 5px;
}
a.menu-row {
	text-decoration: none;
}
button.menu-row {
	background: none;
	border: none;
	width: 100%;
	text-align: start;
}
.menu-row .icon {
	margin-right: 8px;
}

/* Popup alert */
.alert {
	background-color: #ffdede;
	border: 1px solid #e09999;
	border-radius: 6px;
	display: flex;
	align-items: center;
	padding: 8px;
}
a.alert {
	text-decoration: none;
}
.alert .icon {
	color: #ad7777;
	margin-right: 8px;
}

/* Promo banner */
.promo {
	background-color: var(--color-normal-bg);
	border: 1px solid var(--color-normal-border);
	border-radius: 6px;
	padding: 12px 8px;
	display: flex;
	font-weight: 600;
}
.promo .icon {
	color: #cbc440;
	margin-top: 8px;
	margin-right: 8px;
}
.promo .actions {
	margin-top: 12px;
	display: flex;
}
.promo .actions > *:not(:last-child) {
	margin-right: 8px;
}
.promo .actions {
	font-size: var(--text-sm);
}

/* User Info bar */
.user {
	display: flex;
	align-items: center;
	background-color: var(--color-normal-bg);
	border: 1px solid var(--color-normal-border);
	border-radius: 6px;
	padding: 8px;
}
.user > *:not(:last-child) {
	margin-right: 8px;
}
.user .avatar {
	border-radius: 50%;
	border: 2px solid #7d868f;
}
.user-info {
	flex: 1 1 0%;
	overflow: hidden;
}
.user-info .user-name {
	font-weight: 600;
}
.user-info .user-email {
	font-size: var(--text-sm);
}

/* Generic */
button {
	cursor: pointer;
}

.btn {
	border: 1px solid var(--color-normal-border);
	border-radius: 4px;
	padding: 8px;
	text-decoration: none;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
